{% extends "base.html" %}


{% block content %}
<div>
    <h2>{{ playlist.name }}</h2>
    <h3>Песни:</h3>
    <ul>
        {% for song in playlist.songs.all %}
            <li>
                <div>
                    <div>
                        <h4>{{ song.title }}</h4>
                        <p>by {{ song.artist.name }}</p>
                    </div>
                    <div>
                        <audio controls>
                            <source src="{{ song.file.url }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="mt-3">
        <a href="{% url 'playlist_edit' playlist.pk %}">Редактировать плейлист</a>
        <form action="{% url 'playlist_delete' playlist.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Удалить плейлист</button>
        </form>
    </div>
</div>
{% endblock %}
